.navbar {
    margin-bottom: 20px;
    position: relative;
}

.hollywood {
    font-size: 16px;
    color: gold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    padding-left: 5px;
}

.col-8 {
    text-align: center;
}

#chart-title {
    text-align: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#myChart {
    margin-bottom: 20px;
}

.flow {
    background-color: rgb(187, 255, 187);
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 400px;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.no {
    width: 100%;
    background-color: rgb(100, 180, 245);
}

.oops {
    color: rgb(218, 132, 132);
}

.bot {
    margin-bottom: 15px;
}

.end {
    background-color: rgb(255, 82, 82);
}

.arrow-div {
    text-align: center;
}

#arrow {
    font-weight: 700;
    font-size: 2vw;
    line-height: 50%;
}

.percent-div {
    background-color: #89CFF0;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(250,250,250,0.30), 0 15px 12px rgba(250,250,250,0.22);
    color: rgb(51, 50, 50);
    text-align: center;
}

.percent {
    font-size: 100px;
    color: white;
}

.facts {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgba(243, 243, 8, 0.4);
    border-radius: 10px;
    background-color: rgba(66, 65, 65, 0.6);
}

.div-border {
    padding: 10px 10px 30px 10px;
    border: 1px solid rgba(70, 69, 69, 0.4);
    border-radius: 10px;
    background-color: rgba(44, 44, 44, 0.4);
}

h5 {
    color: rgb(233, 166, 42);
}

.glow {
    font-size: 20px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #BF0A30, 0 0 40px #BF0A30, 0 0 50px #BF0A30, 0 0 60px #BF0A30, 0 0 70px #BF0A30;
    }
    
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #D21F3C, 0 0 40px #D21F3C, 0 0 50px #D21F3C, 0 0 60px #D21F3C, 0 0 70px #D21F3C, 0 0 80px #D21F3C;
    }
  }


  .ui-widget {
    background-color: rgba(0, 0, 0, 0.9);
    float: left;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
  }

  .ui-state-hover, .ui-state-active {
    color: #ffffff;
    background-color: #0088cc;
}

.ui-helper-hidden-accessible { 
    display:none;
}


@media only screen and (max-width: 600px) {
    .percent-div {
        margin: 10px;
    }
    .flow-chart{
        margin-top: 20px;
    }

    .flow {
        width: 100%;
    }

    #arrow {
        font-size: 10vw;
        line-height: 50%;
    }

    .facts {
        position: absolute;
        top: 1100px;
    }

    .div-border {
        border: none;
        background-color: transparent;
    }

  }